/*Login page*/

#login-id{

    background: transparent -moz-linear-gradient(left top , rgb(9, 179, 23), rgb(31, 0, 54)) repeat scroll 0% 0% !important;

    background: transparent -webkit-linear-gradient(left top , rgb(9, 179, 23), rgb(31, 0, 54)) repeat scroll 0% 0% !important;

    background: transparent -o-linear-gradient(left top , rgb(9, 179, 23), rgb(31, 0, 54)) repeat scroll 0% 0% !important;

    background: transparent -ms-linear-gradient(left top , rgb(9, 179, 23), rgb(31, 0, 54)) repeat scroll 0% 0% !important;

}

.login-logo a {

    color: #fff;

    text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;

}

.login-box-body{

    border-radius: 4%;

    border: 1% black solid;

}
